<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/dark-hive/jquery-ui.css" />    
</head>
<body>
        ${require('./partical/navbar.htm')}
        ${require('./listview.htm')}
        ${require('./context_menu/listview_context.htm')}
        ${require('./context_menu/timeline_context.htm')}
        <div id="backgroundFiller" class="hidden"></div>
        ${require('./modal_box/open_vid.htm')}
        ${require('./modal_box/download_sub.htm')}
        ${require('./modal_box/download_sub_plain.htm')}
        ${require('./modal_box/sync_time.htm')}
        ${require('./modal_box/sync_frame.htm')}
        ${require('./modal_box/setting.htm')}
        ${require('./modal_box/help.htm')}
        ${require('./modal_box/about.htm')}
        
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</body>
</html>